<div class="container">
 
  <h1>Modifie ici ton profil : </h1>
<%= form_for @user, url: user_path(@user), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :first_name, "Prénom", class: "m-2"%>
    <%= f.text_field :first_name, class: "form-control  opacity-75 ",  required: true, minlength: 3, maxlength: 14, style: "width: 190px"  %>
  </div>

  <div class="form-group ">
    <%= f.label :last_name, "Nom de famille", class: "m-2" %>
    <%= f.text_field :last_name, class: "form-control opacity-75 ",  required: true, style: "width: 190px" %>
  </div>

  <div class="form-group ">
    <%= f.label :email, "Email", class: "m-2" %>
    <%= f.email_field :email, class: "form-control opacity-75", required: true, pattern: '\A[^@\s]+@([^@\s]+\.)+[^@\s]+\z', title: 'Entrez une adresse email valide.', style: "width: 190px" %>
  </div>

  <div class="form-group">
    <%= f.label :age, "Age", class: "m-2" %>
    <%= f.number_field :age, class: "form-control opacity-75", required: true, min: 18, style: "width: 100px" %>
  </div>

  <div class="form-group">
    <%= f.label :city_id, "City", class: "m-2" %><br>
    <%= f.collection_select :city_id, @cities, :id, :name, { prompt: true }, { class: 'form-control' } %>
  </div>
  

   <div class="form-group ">
    <%= f.label :description, "Ta description", class: "m-2" %>
    <%= f.text_area :description, class: "form-control opacity-75 ", style: "width: 500px" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Mot de passe", class: "m-2" %>
    <%= f.password_field :password, class: "form-control opacity-75", minlength: 6, required: true, style: "width: 190px" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirme ton mot de passe", class: "m-2" %>
    <%= f.password_field :password_confirmation, class: "form-control opacity-75", minlength: 6, required: true, style: "width: 190px" %>
  </div>


  <%= f.submit "Enregistrer les modifications", class: "btn btn-primary mt-4" %>
<% end %>