<h1>Bienvenue sur la page de : <%= @user.first_name %> <%= @user.last_name %></h1>
<p>Il/elle a <%= @user.age %> ans et a créé son profile le <%= @user.created_at %></p>
<p>Son email est <%= @user.email %></p>
<h3>Voici sa description : </h3>

<p><%= @user.description %></p>