<div class="container">

<h1>Bienvenue sur la page de la ville : <span style="font-style: italic;"><%= @city.name %></span></h1>
  <% has_gossips = false %>
<% @city.users.each do |user| %>
  <% if user.gossips.any? %>
    <% has_gossips = true %>
    <% user.gossips.each do |gossip| %>
      <div class="rounded border border-2 p-2 m-2" style="width: fit-content; opacity: 0.90; background-color: #862ce6">
        <div class="card-body">
          <h3 class="card-title underline-on-hover"><%= link_to gossip.title, gossip_path(gossip), style: 'color:white'%></h3>
          <p><%= gossip.content %></p>
          <p>Derniere modification le <%= gossip.updated_at.strftime('%d %B %Y à %Hh%M') %></p>
          <p>Par : <%= link_to gossip.user.first_name + " " +gossip.user.last_name, "/users/#{gossip.user.id}", style: ' color: white;'%></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% unless has_gossips %>
  <p>Aucun Gossip dans cette ville ! </p>
<% end %>

  
</div>